@charset "utf-8";

/*size the flip card body*/
.body{
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*set the flipping animation*/
.flip-container{
    transform-style: preserve-3d;
}
/*the front part of the flipcard*/
.flip-container .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.flip-container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}



.flip-container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.flip-container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*hide the front part of the flip card when turn back*/
.flip-container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}
/*rotate 180* when hover*/
.flip-container .box:hover .body{
    transform: rotateY(180deg);
}
/*style the backside of the card*/
.flip-container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #FE0061,#FFEB3B);
    transform: translateZ(100px);
}
